/*

Copyright 2015 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

/* CONTAINERS */

body {
  color: #222;
  font: 13px/18px arial, sans-serif;
  margin: 0;
}

.sidebar {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 12px;
  position: absolute;
  width: 100%;
}

.block {
  display: block;
}

.block + .block {
  margin-top: 16px;
}

.inline {
  display: inline-block;
}

.inline + .inline {
  margin-left: 12px;
}

.top,
.top-left {
  top: 0;
  position: absolute;
}

.top-right {
  top: 0;
  position: absolute;
  right: 0;
}

.bottom,
.bottom-left,
.button-bar {
  bottom: 0;
  position: absolute;
}

.bottom-right,
.button-bar-right {
  bottom: 0;
  position: absolute;
  right: 0;
}

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font: 16px/24px arial, sans-serif normal;
}

a {
  color: #15c;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current {
  color: #dd4b39;
  font-weight: bold;
}

.error {
  color: #dd4b39;
}

.gray,
.grey {
  color: #777;
}

.secondary,
.small {
  color: #777;
  font: 11px/16px arial, sans-serif;
}

/* TABLES */

table {
  border-spacing: 0;
}

th {
  border-bottom: 1px solid #acacac;
  font-weight: normal;
  padding: 2px 0 11px 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ebebeb;
  padding: 11px 0;
}

tr:last-child > td, tr:last-child > th {
  border-bottom: 0;
}

table.layout th,
table.layout td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

/* BUTTONS */

.button,
button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"] {
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
}

.button.action,
.button.blue,
button.action,
button.blue,
input[type="button"].action,
input[type="button"].blue,
input[type="submit"].action,
input[type="submit"].blue {
  background: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background: -o-linear-gradient(top, #4d90fe, #4787ed);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}

.button.create,
.button.red,
button.create,
button.red,
input[type="button"].create,
input[type="button"].red,
input[type="submit"].create,
input[type="submit"].red {
  background: -moz-linear-gradient(top, #dd4b39, #d14836);
  background: -ms-linear-gradient(top, #dd4b39, #d14836);
  background: -o-linear-gradient(top, #dd4b39, #d14836);
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
}

.button.green,
.button.share,
button.green,
button.share,
input[type="button"].green,
input[type="button"].share,
input[type="submit"].green,
input[type="submit"].share {
  background: -moz-linear-gradient(top, #3d9400, #398a00);
  background: -ms-linear-gradient(top, #3d9400, #398a00);
  background: -o-linear-gradient(top, #3d9400, #398a00);
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  background: linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="image"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111;
  text-decoration: none;
}

.button.action:hover,
.button.blue:hover,
button.action:hover,
button.blue:hover,
input[type="button"].action:hover,
input[type="button"].blue:hover,
input[type="submit"].action:hover,
input[type="submit"].blue:hover {
  background: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background: -o-linear-gradient(top, #4d90fe, #357ae8);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  color: #fff;
}

.button.create:hover,
.button.red:hover,
button.create:hover,
button.red:hover,
input[type="button"].create:hover,
input[type="button"].red:hover,
input[type="submit"].create:hover,
input[type="submit"].red:hover {
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background: -moz-linear-gradient(top, #dd4b39, #c53727);
  background: -ms-linear-gradient(top, #dd4b39, #c53727);
  background: -o-linear-gradient(top, #dd4b39, #c53727);
  background: linear-gradient(top, #dd4b39, #c53727);
  border: 1px solid #b0281a;
  border-bottom: 1px solid #af301f;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: #fff;
}

.button.green:hover,
.button.share:hover,
button.green:hover,
button.share:hover,
input[type="button"].green:hover,
input[type="button"].share:hover,
input[type="button"].green:hover,
input[type="submit"].share:hover {
  background: -moz-linear-gradient(top, #3d9400, #368200);
  background: -ms-linear-gradient(top, #3d9400, #368200);
  background: -o-linear-gradient(top, #3d9400, #368200);
  background: -webkit-linear-gradient(top, #3d9400, #368200);
  background: linear-gradient(top, #3d9400, #368200);
  border: 1px solid #2d6200;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="image"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.button:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  color: #111;
}

.button.action:active,
.button.blue:active,
button.action:active,
button.blue:active,
input[type="button"].action:active,
input[type="button"].blue:active,
input[type="submit"].action:active,
input[type="submit"].blue:active {
  background: #357ae8;
  border: 1px solid #2f5bb7;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  color: #fff;
}

.button.create:active,
.button.red:active,
button.create:active,
button.red:active,
input[type="button"].create:active,
input[type="button"].red:active,
input[type="submit"].create:active,
input[type="submit"].red:active {
  background: -moz-linear-gradient(top, #dd4b39, #b0281a);
  background: -ms-linear-gradient(top, #dd4b39, #b0281a);
  background: -o-linear-gradient(top, #dd4b39, #b0281a);
  background: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background: linear-gradient(top, #dd4b39, #b0281a);
  border: 1px solid #992a1b;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  color: #fff;
}

.button.green:active,
.button.share:active,
button.green:active,
button.share:active,
input[type="button"].green:active,
input[type="button"].share:active,
input[type="submit"].green:active,
input[type="submit"].share:active {
  background: #368200;
  border: 1px solid #2d6200;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  color: #fff;
}

.button.disabled,
button:disabled,
input[type="button"]:disabled,
input[type="image"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  background: #fff;
  border: 1px solid #dcdcdc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  opacity: .5;
}

.button.action.disabled,
.button.blue.disabled,
button.action:disabled,
button.blue:disabled,
input[type="button"].action:disabled,
input[type="button"].blue:disabled,
input[type="submit"].action:disabled,
input[type="submit"].blue:disabled {
  background: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background: -o-linear-gradient(top, #4d90fe, #4787ed);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}

.button.create.disabled,
.button.red.disabled,
button.create:disabled,
button.red:disabled,
input[type="button"].create:disabled,
input[type="button"].red:disabled,
input[type="submit"].create:disabled,
input[type="submit"].red:disabled {
  background: -moz-linear-gradient(top, #dd4b39, #d14836);
  background: -ms-linear-gradient(top, #dd4b39, #d14836);
  background: -o-linear-gradient(top, #dd4b39, #d14836);
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: #fff;
}

.button.green.disabled,
.button.share.disabled,
button.green:disabled,
button.share:disabled,
input[type="button"].green:disabled,
input[type="button"].share:disabled,
input[type="submit"].green:disabled,
input[type="submit"].share:disabled {
  background: -moz-linear-gradient(top, #3d9400, #398a00);
  background: -ms-linear-gradient(top, #3d9400, #398a00);
  background: -o-linear-gradient(top, #3d9400, #398a00);
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  background: linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
}

.button + .button,
button + button,
input + input {
  margin-left: 12px;
}

/* CHECKBOXES */

input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-image: -ms-linear-gradient(top, #fff, #fff);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 13px;
  left: 1px;
  margin: 2px 8px 0 0;
  outline: 0;
  position: relative;
  top: 1px;
  width: 13px;
}

input[type="checkbox"]:hover {
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

input[type="checkbox"]:active {
  background-color: #ebebeb;
  border: 1px solid #c6c6c6;
}

input[type="checkbox"]:focus {
  border: 1px solid #4d90fe;
}

input[type="checkbox"]:checked:after {
  background: url(https://ssl.gstatic.com/ui/v1/menu/checkmark_2x.png) no-repeat 0 0 / 21px;
  content: '';
  display: block;
  height: 21px;
  left: -5px;
  position: relative;
  top: -6px;
  width: 21px;
}

input[type="checkbox"]:disabled {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .5;
}

/* RADIO BUTTONS */

input[type="radio"] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-image: -ms-linear-gradient(top, #fff, #fff);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 15px;
  margin: 0 6px 0 0;
  outline: 0;
  position: relative;
  top: 2px;
  width: 15px;
}

input[type="radio"]:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

input[type="radio"]:active {
  background: #ebebeb;
  border: 1px solid #c6c6c6;
}

input[type="radio"]:focus {
  border: 1px solid #4d90fe;
}

input[type="radio"]:checked {
  background: #fff;
}

input[type="radio"]:checked:after {
  background: #606060;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 7px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 7px;
}

input[type="radio"]:disabled {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .5;
}

input:disabled + label {
  color: #afafaf;
}

/* SELECTS */

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f5f5f5, #f1f1f1);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 7px 19px 7px 4px;
  text-align: center;
  text-indent: .01px;
  text-overflow: ellipsis;
  text-overflow: '';
  white-space: nowrap;
}

select:-ms-expand {
    display: none;
}

select:hover {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111;
}

select:focus {
  border: 1px solid #4d90fe;
}

select:disabled {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png);
  border: 1px solid #dcdcdc;
  color: #333;
  opacity: .5;
}

/* OTHER FORM ELEMENTS */

.form-group label + input,
.form-group label + select,
.form-group label + textarea {
  display: block;
}

fieldset {
  border: 1px solid #ebebeb;
  margin: 0;
}

legend {
  font-weight: bold;
  padding: 8px;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple],
select[size],
textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 4px;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  height: 25px;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select[multiple]:focus,
select[size]:focus,
textarea:focus {
  border: 1px solid #4d90fe;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

select[multiple],
select[size] {
  height: auto;
  padding: 0;
}

select[multiple]:disabled
select[size]:disabled {
  background: #fff;
  opacity: 1;
}

textarea {
  resize: vertical;
}
